{% if include.is_home %}
  {% assign career_link = "#career" %}
  {% assign art_link = "#art" %}
  {% assign contact_link = "#contact" %}
{% else %}
  {% assign career_link = "/" | relative_url | append: "#career" %}
  {% assign art_link = "/" | relative_url | append: "#art" %}
  {% assign contact_link = "/" | relative_url | append: "#contact" %}
{% endif %}

<nav>
  <ul>
    <li><a href="{{ career_link }}">Career</a></li>
    <li><a href="{{ art_link }}">Art</a></li>
    <li><a href="{{ contact_link }}">Contact</a></li>
    <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
  </ul>
</nav>
